body{
  text-align: center;
}

h1#category{
  background-color: red;
}

table{
  margin: auto;
  width: 50%;

  thead{
    background-color: $cyan;
    font-weight: bold;
  }

  tr:nth-child(odd){
    background-color: #cecece90;
  }
}
